body {
  padding-top: 70px;
}

.logo {
  height: 100%;
  float: left;
}

.logo-text {
  height: 70%;
  float: left;
}

.navbar-brand {
  padding: 10;
}

@media (min-width: 768px) {
  .chedu-screen {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: gray;
    height: 500px;
  }

  .chedu-chat {
    border: 1px solid gray;
    border-radius: 5px;
    height: 500px;
  }
}

@media (max-width: 767px) {
  .chedu-screen {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: gray;
    height: 500px;
  }

  .chedu-chat {
    border: 1px solid gray;
    border-radius: 5px;
    height: 200px;
  }
}

.chedu-chat .msg-box-wrap {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.chedu-chat .msg-box-wrap input{
  width: 80%;
  height: 60px;
}

.chedu-chat .msg-box-wrap button{
  height: 60px;
}

.chedu-chat .msg-box-wrap span{
  width: auto;
  height: 60px;
}

.chedu-chat .msg-log-wrap {
  height: 90%;
}

.download-icon {
  font-size: 22px;
  color: lightslategray;
  top: 4px;
}
