<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="about.css">
  </head>
  
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img class="logo" src="logo.png"><img class="logo-text" src="chedu.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://54.193.3.64/">New</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
           
            <li><a href="54.193.3.64/about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
	
	<div class="biglogo">
		<div><img class="biglogo" src="logo.png"></div>
		<div style="margin-top:5%;"><img class="biglogo" src="chedu.png"></div>
		<div style="margin-top:10%;">
		
		<p><font size ="6" >Developers</font></p>
		<br><br/>
		<h15>Donghyun Ahn(doahn)</h15>	
		<br><br/>
		<h15>Hyeongcheol Moon()</h15>	
		<br><br/>
		<h15>Eric Chu(eachu)</h15>	
		<br><br/>
		<h15>Zhewei Wang(zwang114)</h15>	
		<br><br/>
		<h15>Yijiong Xu(yxu49)</h15>	
		</div>
			<div class ="purpose">
			
			
			
			<br><br/>
			<br><br/>
			<br><br/>
		<p><font size= "3" >Guide:The Chedu is working for both student and professor. In the class, the Chedu divide the screen to two parts, one is PPT slide, and the other is the comment part for students. Students can type what they want to chat with professor.</font></p>
	</div>
	
	</div>
	
	

	