<html>
  <head>
    <meta id="data" data-passcode="{{passcode}}" data-uname="{{uname}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/chat.css">
    <title>Chedu</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img class="logo" src="/static/imgs/logo.png" /><img class="logo-text" src="/static/imgs/chedu.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <h3>{{filename}} <a href="/uploads/{{passcode+file_url}}"><span class="glyphicon glyphicon-download-alt download-icon" aria-hidden="true"></span></a></h3>
      <h5>Passcode : <b>{{passcode}}</b></h5>
    </div>
    <div class="container">
      <div class="chedu-screen col-sm-8">
        <!--ppt implementation-->
        <iframe class="ppt-frame" src="{{viewer+passcode+file_url}}" frameborder="0" ></iframe>
      </div>
      <div class="chedu-chat col-sm-4">
        <div class="chat-window" ng-app="chat-app">
          <div class="title-bar">
            <div class="window-controls"></div>
            <span>Chat</span>
          </div>
          <div class="app-content">
            <div class="messages-container">
              <div class="messages-wrapper">
                <ul>
                </ul>
              </div>
            </div>
            <div class="user-input-wrapper">
              <textarea placeholder="Your message ..." class="msg-input"></textarea>
              <i class="fa fa-paper-plane emoji-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/static/chat.js"></script>
  </body>
</html>
